.jumborton {
    background-color: aliceblue;
    color: black;
}
.btn{
    background-color: red;
    color:teal;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
}